<div class="row">
    <h1 id="tituloFormacion"><u>Formación</u></h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1 id=>Educacion Primaria</h1></li>
            <p>Eduacion primaria en Esc Dardo Ortiz, Montevideo Uruguay.</p>
        </ul>
        <ul>
            <li><h1>Educacion Secundaria</h1></li>
            <p>Secundaria basica primeros 3 años, ultimos 3 liceo Militar General Artigas con orientacion Derecho. Montevideo Uruguay</p>
        </ul>
        <ul>
            <li><h1>Idiomas</h1></li>
            <p>Ingles nivel avanzado, escrito, oral y conversacional/p>
        </ul>
    </div>
</div>
