<div class="row">
    <h1 id="tituloExperiencia"><u>Experiencia Laboral</u></h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1 id>Movistar</h1> - <h3> 2007-2011</h3></li>
            <p>Representante de atencion al cliente presencial, uso de sistemas de gestion, resolucion de inconvenietes y satisfaccion del cliente.</p>
        </ul>
        <ul>
            <li><h1>Samsung</h1> - <h3>2012-2015</h3></li>
            <p>Promovendedor con punto fijo, asesor de producto y lanzamientos de la marca, posicionamiento de la marca ante la competencia y capacitacion de producto tanto a vendedores como a clientes.</p>
        </ul>
        <ul>
            <li><h1>Fravega</h1> - <h3>2016-Actualidad</h3></li>
            <p>Asesor de ventas 360, asesoria, venta, entrega y postventa.</p>
        </ul>
    </div>
</div>

