<div class="row">
    <h1><u>Proyectos Realizados</u></h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Proyecto Integrador Argentina Programa</h3>
            <p>Con este, mi primer proyecto de desarrolo inicio mi nueva vocacion de la programacion la cual metaforicamente tambien busca programar mi vida a desenvolverme en el mundo de tecnologia que me apasiona, buscando retos desafiantes que ponen a prueba mis habilidades logicas y de trabajo organizacional.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Portada proyecto integrador.jpg" class="img-fluid img-proyecto">
        </div>
</div>