<div class="row">
    <h1 id="tituloSkills"><u>Hard and Soft Skills</u></h1>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="20"
            [outerStrokeColor]="'rgb(209, 24, 24'"
            [innerStrokeColor]="'rgb(237, 141, 157'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="20"
            [outerStrokeColor]="'rgb(209, 24, 24'"
            [innerStrokeColor]="'rgb(237, 141, 157'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageWidth]="90"
        [imageHeight]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="20"
        [outerStrokeColor]="'rgb(209, 24, 24'"
        [innerStrokeColor]="'rgb(237, 141, 157'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
        [percent]="55"
        [radius]="100"
        [imageSrc]="'../assets/git.png'"
        [showImage]="true"
        [imageWidth]="90"
        [imageHeight]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="20"
        [outerStrokeColor]="'rgb(209, 24, 24'"
        [innerStrokeColor]="'rgb(237, 141, 157'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageWidth]="90"
        [imageHeight]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="20"
        [outerStrokeColor]="'rgb(209, 24, 24'"
        [innerStrokeColor]="'rgb(237, 141, 157'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="95"
        [radius]="100"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageWidth]="90"
        [imageHeight]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="20"
        [outerStrokeColor]="'rgb(209, 24, 24'"
        [innerStrokeColor]="'rgb(237, 141, 157'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
</div>
